extends layout
block content
	div#wrap
		div#main
			div#userCard
				Img(id='userCardImg')

			div#userOpenCard
				Img(id='userOpenCardImg' src="")
				Img(id="userCloseCardImg")
				
			div#bell
				button(id="big_bell")  

			div#myOpenCard
				Img(id='myOpenCardImg' src="")
				Img(id="myCloseCardImg")
				
			div#myCard
				Img(id='myCardImg')
				button(id="cardOpenBtn") 카드 오픈
		span(id="nickname")
				
			
		div#tmpDiv(style="position:absolute;top:500px;")
			button(id="tmp1") (임시) 입장
			br
			button(id="tmp2") 카드 초기화


			
	script(src='https://cdn.socket.io/socket.io-1.4.5.js')
	script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
	script.
		var socket = io();
		var turn = true;
		var is_match;
		var count;
		var nickName = document.getElementById('nickname')		// 내이름 
		
		// 카드 이름 매칭
		function makeName(card) {
			let card_name = "";
			let name = card.substring(0, 1);
			switch (name){
				case "a" :
					card_name = "apple";
					break;
				case "b" :
					card_name = "banana";
					break;
				case "c" :
					card_name = "peach";
					break;
				case "d" :
					card_name = "strawberry";
					break;
			}
			return card_name;
		}

		//var image = new Image();
		//image.src = 'file:///C:/Users/grutech/Desktop/Sweetest_Team2/Image/apple.png'
		//console.log(image.src);
		//userCloseCard.appendChild(image);


		// 소켓 통신
		socket.on('hihi', (list) => { // 접속한 소켓 확인용
			var socket_list = '';
			console.log("SocketList: " + JSON.stringify(list));
			nickName.innerHTML = name;
			console.log('userName:'+ name);
			for(var socket in list){
				socket_list += '<li id='+socket+'>소켓ID: '+socket+'</li>';
			}
			$('#param1').html(socket_list);
		})


		// 서버로부터 전달받은 정보 메세지를 종류별로 처리
		.on('server_message', (msg) => {
			
			var msg_mode = msg.mode;

			switch (msg_mode){
				case "start" :

					console.log("유저정보: ", msg)

					break;

				case "info" :

					console.log(msg);

					break;

				case "bell" :

					console.log("bell: ", msg);

					$("#myOpenCardImg")[0].src = ""; // 제출 이미지 비워줌
					$("#userOpenCardImg")[0].src = "";

					break;
					
				case "card_open_after" :

					console.log("card_open_after: ", msg);

					break;

				default :
					console.log(msg);
			}

		})


		// 카드 배분. 받은걸로 액션 처리.
		.on('gift_card', (card, idx, match, ask) => {

			var folder_name = makeName(card);
			var card_name = folder_name + card.substring(1, 2);

			console.log('(idx:'+idx+')', card_name, ' / match: ', match);

			// 카드를 요청한 소켓이 본인이면 본인자리에, 상대방이면 상대방 자리에 카드 배치
			(ask == socket.id) ? 
				$("#myOpenCardImg")[0].src = "/Image/" + folder_name + "/" + card_name + ".png"
				: $("#userOpenCardImg")[0].src = "/Image/" + folder_name + "/" + card_name + ".png";

			if (idx == 55){
				console.log("카드 다 썼음. 엔딩처리하면 됨");
			}

		})


		// 카드 요청
		$('#cardOpenBtn').click(() => { 
			if(turn) {
				socket.emit('show_me_the_card');
			} else {
				console.log("상대방의 턴");
			}
		});


		// 벨
		$('#big_bell').click(() => {

			var msg = {
				mode : "bell",
				match : null 
			}

			if(is_match) {
				// 쓴 카드 회수하는 것은 승패에 영향이 없지만 추가해야할까... 
				// 한 번이라도 종을 친 적이 있다면 0 됐을 때 카드 뒷면 이미지 보여지게 처리하면 됨. 없으면 맨마닥.
				
				msg.match = true;

				socket.emit('client_message', msg);

			} else { 

				msg.match = false;

				socket.emit('client_message', msg);
			}

		});





		/////////////// 테스트용

		
		socket.on('clean', () => {
			$("#myOpenCardImg")[0].src = ""; // 제출 이미지 비워줌
			$("#userOpenCardImg")[0].src = "";
		});


		$('#tmp1').click(() => { // 방 입장용(게임시작용)

			nickName.innerHTML = name;

			console.log('click go');
			var msg = {
				mode : "user_init",
				userName : name
			}

			socket.emit('go'); 
			socket.emit('client_message', msg);
		
		});

		$('#tmp2').click(() => { 
			console.log("게임을 초기화합니다.");

			$("#myOpenCardImg")[0].src = ""; // 제출 이미지 비워줌
			$("#userOpenCardImg")[0].src = "";
			
			socket.emit('reset');
		});


