link(rel='stylesheet', href='/stylesheets/index.css')
link(rel='stylesheet', href='/stylesheets/reset.css')
<meta name="viewport" content="width=device-width, initial-scale=1.0">
block content

  div#wrap
    div#header
      div#text HALLY GALLY  
    div#content 
    div#footer
      form
        input(type="text" id="userName" placeholder="닉네임 입력하세요")
        input(type="button" value="확인" onClick="btnUserName")
      br
      button(id="btnStart" disabled="disabled" onClick="location.href='/hali'") WAIT...
      br
      br
      span(id="checkNumberUsers")
      br
      
      
		

    

script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
script(src='https://cdn.socket.io/socket.io-1.4.5.js')
script.
  
  var userName ={};

  function btn_on(){
   
    btnStart.disabled = false;
  
    btnStart.innerHTML = 'GAME START';


  } 

  function btnUserName(){

    var name = document.getElementById('userName').valuse;

   
  }


  

  var socket = io();
  

    socket.on('hihi', (list) => { // 접속한 소켓 확인용
    var socket_list = '';
    var currentNumberUsers = Object.keys(list).length; //접속자 수 체크

    console.log("list: " + list);
    console.log("SocketList: " + JSON.stringify(list));
    console.log("Socketlength: "+ currentNumberUsers);
    console.log('userName:'+ name  );
    
      
    for(var socket in list){
      console.log("socket id="+socket);
   
      }

      $('#checkNumberUsers').html("인원 수 : "+currentNumberUsers+"/2");

      if(currentNumberUsers === 2){  //인원수가 2명일때 버튼활성화
        btn_on();
      }
     
  })
 
  
      
      
      











