link(rel='stylesheet', href='/stylesheets/index.css')
link(rel='stylesheet', href='/stylesheets/reset.css')
<meta name="viewport" content="width=device-width, initial-scale=1.0">
block content

  div#wrap
    div#header
      div#text HALLY GALLY  
    div#content 
    div#footer 
      input(type="text" id="userName" placeholder="닉네임 입력하세요")
      br
      button(id="btnStart" onClick="location.href='/hali'") GAME START
		

    

script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
script(src='https://cdn.socket.io/socket.io-1.4.5.js')
script.

    var socket = io();  

    socket.on('hihi', (list) => { // 접속한 소켓 확인용
      var socket_list = '';
      console.log("SocketList: " + JSON.stringify(list));
      console.log(list)
      for(var socket in list){
        socket_list += '<li id='+socket+'>소켓ID: '+socket+'</li>';
      }
      $('#param1').html(socket_list);
  })











<!--link(rel='stylesheet', href='/stylesheets/index.css')
  block content
   div container
    h1= title
    p Welcome to #{title}
    br
    br
    span 프로토타입 패키지.
    hr
    br
    a(href="/hali") 할리갈리 테스트페이지로 -->
