extends layout
block content
	div#wrap
		div#main
			div#userCard
				Img(id='userCardImg')

			div#userOpenCard
				Img(id='userOpenCardImg' src="")
				Img(id="userCloseCardImg")
				
			div#bell
				button(id="big_bell")  

			div#myOpenCard
				Img(id='myOpenCardImg' src="")
				Img(id="myCloseCardImg")
				
			div#myCard
				Img(id='myCardImg')
				button(id="cardOpenBtn") 카드 오픈
		span(id="nickname")
				
			
		div#tmpDiv(style="position:absolute;top:500px;")
			button(id="tmp1") 레디
			button(id="tmp2") 카드 초기화
		



		

