extends layout
block content
	div#wrap
		.opponentName
		div#main
			div#userCard
				Img(id='userCardImg')

			div#userOpenCard
				Img.userOpenCardImg
			
			.finText
			div
				button.bell(id="big_bell" disabled=true)
				.bellText 띠링 띠링

			div#myOpenCard
				Img.myOpenCardImg
				
			div#myCard
				Img(id='myCardImg')
				button.cardOpenBtn(id="cardOpenBtn" disabled=true) 카드 오픈
			
		.nickName #{userNickname || "anonymous"}
				
			
		div#tmpDiv
			button.ready 레디  
			button(id="tmp2") 카드 초기화

		button.gameStart 게임시작
		



		

