<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="/css/index.css")
		title Welcome to Halli Galli
	body
		#wrap
		#header
			#text HALLI GALLI  
		#content 
		#footer
			form(action="/halli")
				input(type="text" id="userName" placeholder="닉네임 입력하세요" name="userNickname")
				button(type="submit" id="btnStart") 입장하기	
			span(id="checkNumberUsers")
	script(src="index.js")
	script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')