link(rel='stylesheet' href='/css/index.css')
block content
	div#wrap
		div#header
			div#text HALLY GALLY  
		div#content 
		div#footer
			form(action="/halli")
				input(type="text" id="userName" placeholder="닉네임 입력하세요")
				input(type="button" id="btnName" value="확인" onClick="btnUserName()")
				button(type="submit" id="btnStart") 입장하기	
			span(id="checkNumberUsers")