a {
  color: #00b7ff;
}

#wrap {
  line-height: 50%;
  width: 60%;
  height: 70%;
  margin: 0 auto;
  background-color: #008000;
}

#header {
  display: flex;
  height: 25%;
  background: #9cf;
  justify-content: center;
  align-items: center;
}

#text {
  font-size: 40px;
}

#content {
  height: 50%;
  background: #0fc;
}

#footer {
  display: flex;
  height: 25%;
  background: #ddd;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
}

#footer input {
  height: 20%;
}

#btnName {
  margin-left: 5px;
}

#footer button {
  display: block;
  width: 100%;
  margin-top: 5px;
}
